body{
    background-color: purple;
}

h1{
    text-align:center;
    font-size: 40px;
    color: rgba(88, 216, 255, 0.596);
     border: 8px solid;
     border-color: blue;
     text-shadow: rgb(2, 0, 117) 2px 5px;
}

p{
    text-align:center;
    font-size: 20px;
    color: rgba(88, 216, 255, 0.596);
    text-shadow: rgb(2, 0, 117) 2px 5px;
    
    
}

h2{
    text-align:center;
    font-size: 30px;
    color: rgba(88, 216, 255, 0.596);
    text-shadow: rgb(2, 0, 117) 2px 5px;
    
}

#puzzle{
    justify-self: center;
    display:grid;
    width:48vw;
    height:64vh;
    grid-template-rows: repeat(4, 1fr);
    grid-template-columns: repeat(4, 1fr);
    box-shadow: black 30px 30px;
}

.ps{
    width: 12vw +5px;
    height: 16vh +5px;
    border-color: rgb(51, 1, 92);
    border: 1.5px solid ;
    box-sizing: border-box;
    
    
}


img{
     height:100%;
      width:100%;
 }
     